{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}SIGN IN{% endblock title %}

{% block content %}

<br>
<div class="jumbotron">
<div class="card">
  <h5 class="card-header">SIGN IN</h5>
  <div class="card-body">
    <p class="card-text">
        <form action="{% url 'signin' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="SIGN IN" class="btn btn-outline-success">
        </form>
    </p>
  </div>
</div>
{% endblock content %}
